@charset "UTF-8";

/* 
#fff1c5 quase branco
#ad3805 marrom
#065d33 verde
#d27800 terra
*/

@font-face {
    font-family: 'cursiva';
    src: url(../imagens/Madina.ttf);
}

* {
    font-family: Arial, Helvetica, sans-serif;
   margin: 0px;
}

header > span#principal > h1 {
    font-family: cursiva;
    font-size: 4em;
    text-align: center;
    color: #ad3805;
}

header {
    background-color:#fff1c5;
}

span#principal {
    padding: 10px;
}

span#principal > p {
    color: #ad3805;
    padding: 20px;
}

img.r {
    float: right; 
    padding: 2px;
    margin: 0px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

span#burguer {
    background-color: #ad3805;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    align-items: center;
    display: block;
    cursor: pointer;
}

header > menu > ul > li {
   list-style-type: none;
   padding: 10px;
   border: 2px solid black;
   text-align: center;
   margin: auto;
}

header > menu {
    display: none;
    margin: auto;
}

menu#itens > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: black;
}