@charset "UTF-8";

/* 
#fff1c5 quase branco
#ad3805 marrom
#065d33 verde
#d27800 terra
*/

@font-face {
    font-family: 'cursiva';
    src: url(../imagens/Madina.ttf);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    margin: auto;
}

header > span#principal > h1 {
    font-family: cursiva;
    font-size: 2em;
    text-align: center;
    color: #ad3805;
}

header {
    background-color:#fff1c5;
    width: 100vw;
}

span#principal {
    padding: 10px;
}

span#principal > p {
    color: #ad3805;
    padding: 10px;
}

img.r {
    float: right; 
    padding: 2px;
    margin: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

span#burguer {
    background-color: #ad3805;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    align-items: center;
    display: block;
    cursor: pointer;
}



header > menu#itens {
    display: none;
    margin: auto;
    padding-left: 0px;
}

a.men {
    display: block;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    color: black;
    border: 2px solid black;
}