@charset "UTF-8";

/* 
Vermelho vivo = #E50914
Branco = #FFFFFF
Cinza escuro grafite = #1F1F1F
Branco gelo	= #F4F4F4
Cinza claro = #BDBDBD
*/

body, html {
    margin: 0px;
    background-color: #645f5f;
    color: white;
}

header {
    position: fixed;
    background-color: #1F1F1F;
}

div.nav {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    justify-items: center;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    background-color: #1F1F1F;
    width: 100vw;
}

img#logo {
    width: 150px;
    border-radius: 5px;
    justify-self: start;
}

p#pesquisa {
    border: 2px solid red;
}

div#simbolos  {
    justify-self: center;
}