@charset "UTF-8";

@media (max-width: 850px) {

   body {
      background-color: yellow;
   }

   span#menu {
      display: block;
   }

   img#foto-destaque {
   display: none;
   }

   img#foto-destaque-pequena {
   display: block;
   padding-top: 120px;
   height: 500px;
   width: 100vw;
   }

   
}