@charset "UTF-8";
@font-face {
    font-family:'h1' ;
    src: url(fontes/love\ story\ ttf.ttf);
}
@font-face {
    font-family: 'romantico';
    src: url(fontes/Cream\ Cake.otf);
}

/* 
Quase branco = #ECD8E0
Rosinha = #ECB1C0
Salmao = #C75C71
Vermelho escuro = #791127
Bordo = #560F20
*/


* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(#C40C02);
    overflow-x: hidden;
   
}

header {
    display: flex;
    background-image: url(imagens/fundo.coracao.webp);
    background-repeat: repeat;
    height: 300px;
    width: 100vw;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
}


header > p.link > a {
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.892);
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    border: 2px solid #560F20;
    border-radius: 8px;
    flex: auto;
    align-self: center;
    align-items: center;
    padding: 15px;
}

header > p.link > a:hover {
    background-color:#560F20;
}

h1 {
     font-family:'h1';
     text-align: center;
     font-size: 2em;
     padding: 10px;
}

p.carta {
     font-family: 'romantico';
     text-align: center;
     font-size: 2em;
     background-color: rgba(255, 255, 255, 0.355);
     text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.314);
}

div#foto {
    display: flex;
    background-attachment: fixed;
}

div#foto > img#foto1 {
    flex: auto;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-attachment: fixed;
}

footer {
    height: 168px;
    background-image: url(imagens/fundo.coracao.webp);
}