@charset "UTF-8";
@font-face {
    font-family:'h1' ;
    src: url(fontes/love\ story\ ttf.ttf);
}

@font-face {
    font-family: 'romantico';
    src: url(fontes/Sriracha-Regular.ttf);
}

/* 
Quase branco = #ECD8E0
Rosinha = #ECB1C0
Salmao = #C75C71
Vermelho escuro = #791127
Bordo = #560F20
*/


* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to left, #E26E88, #791127);
    overflow-x: hidden;
   
}

header {
    display: flex;
    background-image: url(imagens/fundo.coracao.webp);
    background-repeat: repeat;
    height: 300px;
    width: 100vw;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
}


header > p.link > a {
    font-family: "romantico";
    padding: 4px;
    background-color: #560F20;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    border: 2px solid #560F20;
    border-radius: 8px;
    flex: auto;
    align-self: center;
    align-items: center;
    padding: 15px;
}

header > p.link > a:hover {
    background-color:#791127 ;
    transition: 0.8s;
}

h1 {
     color: white;
     font-family:'h1';
     text-align: center;
     font-size: 2em;
     padding: 10px;
}

p.carta {
     margin: 5px;
     color: white;
     font-family: 'romantico';
     text-align: center;
     font-size: 2em;
    
     text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.692);
}

div.foto {
    display: flex;
    background-attachment: fixed;
}

div.foto > img.foto1 {
    flex: auto;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-attachment: fixed;
}

footer {
    height: 168px;
    background-image: url(imagens/fundo.coracao.webp);
}

/*VERSÃO PARA TELAS GRANDES */

@media screen and (min-width:1200px) {
    * {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to left, #C40C02,  #560F20 );
    overflow-x: hidden;
}

header {
    display: flex;
    background-image: url(imagens/fundo.coracao.webp);
    background-repeat: repeat;
    height: 300px;
    width: 100vw;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

p.link {
    display: flex;
    width: 100vw;
    align-self: center;
    align-items: center;
}

header > p.link > a {
    margin: -10px;
    font-family: "romantico";
    padding: 4px;
    background-color: #560F20 ;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    border: 2px solid #560F20;
    border-radius: 8px;
    flex: auto;
    
    padding: 15px;
    text-align: center;
}

header > p.link > a:hover {
    background-color:#791127 ;
    transition: 0.8s;
}

h1 {
     color: white;
     font-family:'h1';
     text-align: center;
     font-size: 3.5em;
     padding: 50px;
     height: 100px;
}

p.carta {
     font-family: 'romantico';
     text-align: center;
     font-size: 2em;
     text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.627);
}

div.foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.foto > img.foto1 {
    border: 5px solid black;
    flex: auto;
    margin:100px 100px;
    height: 600px;
    width: 400px;
}

footer {
    height: 168px;
    background-image: url(imagens/fundo.coracao.webp);
}
}
